<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Archive app</title>
</head>
<body>
    <h1>Upload files</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="files">Choose files:</label>
        <input type="file" id="files" name="files" multiple required><br><br>
        <label for="format">Choose type:</label>
        <select id="format" name="format">
            <option value="zip">ZIP</option>
            <option value="tar">TAR</option>
        </select><br><br>
        <input type="submit" value="Upload and Archive">
    </form>
</body>
</html>
